<div class="container-fluid bg-primary gb-gradient text-center pt-4 pb-4">
    <div class="row align-items-start">
        <div class="col">
            <!--* Displays all the pages on the footer so you can navigate with the footer too --->
            <div class="vstack">
                <% Object.values(pagesData).forEach(page=> { %>
                        <a href="<%= page.link %>" class="link-light">
                            <%= page.displayName %>
                        </a>
                    <% }) %>
            </div>
        </div>
        <!--* Extra Contact Information --->
        <div class="col">
            <div class="container center-text">
                <h5 class="text-bg-primary"">&copy;All Rights Reserved</h5>
                <p class="text-bg-primary">Sebastian Silva</p>
                <p class="text-bg-primary">sebastiansilvabenites+contact@gmail.com</p>
                <p class="text-bg-primary">Constructed with Bootsrap</p>
            </div>
        </div>
    </div>
</div>