<!--* Simple partial used to cread a card of a project from project object --->
<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            <%= project.title %>
        </h5>
        <p class="card-text">
            <%= project.description %>
                <div>
                    <% project.projectBadges.forEach(badge=> { %>
                        <%- include('./projectsBadge', {badge: badge}) %>
                            <% }) %>
                </div>
        </p>
        <% if (project.projectUrl){ %>
            <a href="<%= project.projectUrl %>" class="btn btn-primary">Link to Project</a>
            <% } %>
    </div>
</div>