<!--* Create a simple Service Card from Service Object --->
<div class="card">
    <% if (service.imageUrl) { %>
        <img src="<%= service.imageUrl %>" alt="" class="card-img-top">
        <% } %>  
    <div class="card-body">
        <h5 class="card-title">
            <%= service.title %> 
        </h5>
        <p class="card-text">
            <%= service.description %> 
        </p>
    </div>
</div>