/**======================
 ** FILENAME:    style.css
 ** AUTHOR:      Sebastian Silva
 ** STUDENT ID:  301248383
 ** DATE:        01/27/2023
 *========================**/

[full-height] {
  min-height: 90vh;
}

.card {
  margin-top: 1rem;
  margin-bottom: 1rem;
}