<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head", {title: "Home" }) %>
</head>

<body>
    <%- include("../partials/header", { pagesData: pagesData }) %>
    <div class="container">
        <div class="row align-items-center" style="min-height: 70vh;">
            <div class="col-sm-5">
                <div class="text-center">
                    <img src="images/PhotoOfMe.jpg" alt="Me" class="rounded">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="container">
                    <h3 class="display-3">Sebastian Silva</h3>
                    <p class="lead">Game Developer</p>
                    <p>Hi there, I'm a bachelor in computer science especialized in game development. My speciality is Unreal Engine but I can work with Unity 3D and Godot too. I also know my way around in web development with diferent frameworks such as ExpressJS, Angular, VueJS, MongoDB, AWS, between others.</p>
                    <p>I will love to be a part of your dream project</p>
                    <a href="files/SebastianSilvaResume2_0.pdf">My Resume</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>