<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head", {title: "Home" }) %>
</head>

<body>
    <!-- Header -->
    <%- include("../partials/header", { pagesData: pagesData }) %>
    <!-- Content -->
        <div class="containter">
            <!-- Contact Card -->
            <div class="card" style="margin: 1rem;">
                <h4 class="card-header">
                    Contact Me
                </h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <span>email: sebastiansilvabenites@gmail.com</span>
                        </div>
                        <div class="col-sm-6">
                            <span>Number: (647) 928-0967</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Send Message Card -->
            <div class="card" style="margin: 1rem;">
                <h4 class="card-header">
                    Send Me a Message
                </h4>
                <div class="card-body">
                    <form action="/contact/message" method="post">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 mb-3">
                                <label for="EmailForm" class="form-label">Email:</label>
                                <input name="EmailForm" type="email" class="form-control" id="EmailForm"
                                    placeholder="jhon.doe@provider.com">
                            </div>
                            <div class="col-lg-6 col-md-12 mb-3">
                                <label for="NameForm" class="form-label">Name:</label>
                                <input name="NameForm" type="text" class="form-control" id="NameForm"
                                    placeholder="Jhon Doe">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="MessageForm" class="form-label">Message:</label>
                            <textarea name="MessageForm" id="MessageForm" rows="10" class="form-control"
                                style="resize: none;"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </form>
                </div>
            </div>
        </div>
        <%- include("../partials/footer", {pagesData: pagesData}) %> 
</body>

</html>