<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head", {title: "Home" }) %>
</head>

<body>
    <!-- Header --->
    <%- include("../partials/header", { pagesData: pagesData }) %>
    <!--* Projects --->
    <div class="container">
        <div class="row">
            <% projectsData.forEach(project => { %>
                <div class="col-sm-6">
                    <%- include("../partials/projectCard", {project: project}) %> 
                </div>
            <% }); %> 
        </div>
    </div>
    <!-- Footer --->
    <%- include("../partials/footer", {pagesData: pagesData}) %> 
</body>

</html>