<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head", {title: "Home" }) %>
</head>

<body>
    <%- include("../partials/header", { pagesData: pagesData }) %>
        <div class="container">
            <h3>Services</h3>
            <div class="row">
                <% for (const service in servicesData){ %>
                    <div class="col-sm-4">
                        <%- include('../partials/serviceCard', {service: servicesData[service]}) %>
                    </div>
                    <% } %>
            </div>
        </div>
        <%- include("../partials/footer", {pagesData: pagesData}) %> 
</body>

</html>